* {
    margin:0;
    padding:0;
    font-family: Kalam, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(250, 226, 93);
}

a:link {
    text-decoration: none;
    color:red;
    font-weight: bold;
    transition-duration: .5s;
}

a:hover {
    border: 5px solid red;
}



.navbar {
    display:flex; 
    background-color:yellow;
    height: 150px;
    color:red;  
    justify-content: space-between;
    align-items:center;
    padding-left:200px; 
    padding-right:200px;
}

.title {
    font-size: x-large;
    font-weight: bold;
    padding:5px;
    border: 10px solid red;
}

.links {
    display:flex;
    padding:10px;
    margin: 10px;
    text-decoration: none;
    font-size: large;
}

.link {
    margin: 10px;
    color: red;
}



.h1 {
    display:flex;
    background-color: yellow;
    color:red;
    font-weight: bold;
    flex-wrap:nowrap;

    justify-content: space-between;
    align-items: center;
    padding-left:200px;
    padding-right:200px;
    padding-bottom: 50px;
}

.p1 {
    display:flex;
    flex-direction:column;
    margin:10px;
    align-items: flex-start;
    line-height: 3em;
    justify-content: flex-start;
    padding-right: 20px;
}
.bigtext {
    font-size: xx-large;
    align-self: flex-start;
}

.smalltext {
    font-size: 18px;
}

button {
    background-color: rgb(55, 146, 225);
    color: #fff;
    border: 5px solid rgb(39, 41, 156);
    padding: 7px 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    width: 100%;
    transition-duration: 0.6s;

}

button:hover{
    background-color: rgb(39, 41, 156);
    cursor: pointer;
    
}

.moss img {
    flex-shrink:1;
    max-width: 100%;
    
}



.ex {
    display:flex;
    background-color: rgb(55, 146, 225);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    flex-wrap: wrap
}

.h2-header { 
    font-size:xx-large;
    color: #fff;
    align-self:center;
    font-weight: bold;
    padding:20px;
}

.photos img {
    max-width: 600px;
    
    width:100%;
}

.text {
    max-width:600px;
    width:100%;
    flex:1 1 auto;
    margin:10px;
    align-self: center;
    color: #fff;
    font-size: large;


}

.examples {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: flex-start;
    
}



.h3 {
    display:flex;
    flex-direction: column;
    background-color: rgb(255, 104, 139);
    padding:50px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: x-large;
    font-weight: bold;
}

.behind {
    align-self:flex-end;
    padding-top:15px;
    font-size: large;
}



.banner {
    display: flex;
    height:200px;
    background-color: rgb(111, 174, 84);
    justify-content: space-around;
    align-items: center;
    margin:75px 150px;
    border-radius: 8px;
}

.buytext {
    display:flex;
    flex-direction: column;
    padding:50px;
    font-size: large;
    justify-content: flex-start;
    color: #fff;
}

.smallheader {
    font-size: x-large;
    font-weight: bold;
}

.buybutton {
    max-width:300px;
    width:100%;
    align-self: center;
    flex: 0 2 auto;
    margin:25px
}